# Python / venv
venv/
.venv/
__pycache__/
*.py[cod]

# React / Node
node_modules/
dist/
build/
.eslintcache

# Tietokanta ja asetukset
db.sqlite3
.env

# Käyttöjärjestelmien omat roskat
.DS_Store
Thumbs.db